@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: GeistMonoVF;
	src: url("./assets/fonts/GeistMonoVF.woff") format(woff);
}

* {
	font-family: GeistMonoVF, "Courier New", Courier, monospace !important;
}

body {
	font-size: 14px;
}

.animate-float {
	animation: float 2s cubic-bezier(0.075, 0.82, 0.165, 1) 0s infinite;
}

@keyframes float {
	from {
		bottom: 0;
		opacity: 1;
	}
	to {
		transform: scale(1.5);
		opacity: 0.5;
		bottom: 105%;
	}
}
